<div class="card my-3" style="width: 100%;min-height: 260px!important;" (click)="setQueryParams()">
    <div class="card-header">
        <div class="clearfix">
            <p class="float-left"><strong>ID : </strong> {{comment.postId}}</p>
            <p class="float-right"><strong>Name : </strong> {{comment.name}}</p>
        </div>
    </div>
    <div class="card-body">
        <p><strong>Email : </strong> {{comment.email}}</p>
        <p><strong>Body : </strong> {{comment.body}}</p>
    </div>
</div>

